{% load static  %}
{% load humanize %}
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Latest <span>Cars</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
        {% for car in latest_cars  %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'car-detail' car.id %}" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{car.milage|intcomma}} km
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{car.year}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{car.transmission}}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{car.car_photo.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{car.car_photo_1.url}}">
                                        </a>
                                        {% if not 'default.jpg' in car.car_photo_1.url %}  
                                        <a href="{{car.car_photo_1.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_1.url}}">
                                        </a>
                                        {% endif %}
                                        {% if not 'default.jpg' in car.car_photo_2.url %}  
                                        <a href="{{car.car_photo_2.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if not 'default.jpg' in car.car_photo_3.url %}  
                                        <a href="{{car.car_photo_3.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_3.url}}">
                                        </a>
                                        {% endif %}
                                        {% if not 'default.jpg' in car.car_photo_4.url %}  
                                        <a href="{{car.car_photo_4.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_4.url}}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'car-detail' car.id %}">{{car.car_title}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'car-detail' car.id %}">
                                <i class="flaticon-pin"></i>{{car.state}}, {{car.city}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">{{car.body_type}}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">${{car.price|intcomma}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>