{% load static%}
{% load humanize %}

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                <!--FOOR LOOP STARST-->
                {% for car in Cars %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="{% url 'car-detail' car.id %}" class="car-img">
                                
                                {% if car.is_featured %}
                                    <div class="tag-2 bg-active">Featured</div>
                                {% else %}
                                    <div class="tag">For Sale</div>
                                {% endif %}
                                    <div class="price-box">
                                        <span>$ {{car.price|intcomma}}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{ car.car_photo.url }}" alt="car" style="min-height:262px;max-height:262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="{{ car.car_photo.url }}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{ car.car_photo.url }}">
                                                </a>
                                                <a href="{{ car.car_photo_1.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ car.car_photo_1.url }}">
                                                </a>
                                                <a href="{{ car.car_photo_2.url }}" class="hidden">
                                                    <img class="hidden" src="{{ car.car_photo_2.url }}">
                                                </a>
                                                <a href="{{ car.car_photo_3.url }}" class="hidden">
                                                    <img class="hidden" src="{{ car.car_photo_3.url }}">
                                                </a>
                                                <a href="{{ car.car_photo_4.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ car.car_photo_4.url }}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'car-detail' car.id %}">{{car.car_title}}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'car-detail' car.id %}">
                                        <i class="flaticon-pin"></i> {{car.city}}, {{car.state}}
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{car.fuel_type}}</li>
                                    <li>{{car.milage|intcomma}} km</li>
                                    <li>{{car.transmission}}</li>
                                    <li>{{car.body_style}}</li>
                                    <li>{{car.color}}</li>
                                    <li>{{car.year}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--FOOR LOOP STARST-->
                </div>
                <!-- Page navigation start -->
                {% if is_paginated %}        
                    <div class="pagination-box p-box-2 text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                                    </li>  
                                {% endif %}

                                {% for num in page_obj.paginator.page_range  %}
                                    {% if num == page_obj.number %}
                                        <li class="page-item"><a class="page-link active" href="#">{{num}}</a></li>
                                    {% elif num < page_obj.number|add:'3' and num > page_obj.number|add:'-3' %}
                                        <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>    
                                    {% endif %}                                                                
                                {% endfor %}
        
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                                    </li>  
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                {% else %}
                {% endif %}
            
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search your desire car</h3>
                        <form action="{% url 'search' %}" method="">
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                            </div>
                            {% comment %} <div class="form-group">
                                <select class="form-control search-fields" name="select-brand">
                                    <option selected="true" disabled="disabled">Brand</option>
                                    <option>Audi</option>
                                    <option>BMW</option>
                                    <option>Honda</option>
                                    <option>Nissan</option>
                                </select>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-model">
                                    <option selected="true" disabled="disabled">Model</option>
                                    {% for model in model_search  %}
                                        <option value="{{model}}">{{model}}</option>
                                    {% endfor %}
                                        {% comment %} <option>Honda</option> {% endcomment %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-location">
                                    <option selected="true" disabled="disabled">Location</option>
                                    {% for city in city_search  %}
                                        <option value="{{city}}">{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-year">
                                    <option selected="true" disabled="disabled">Year</option>
                                    {% for year in year_search  %}
                                        <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="select-type">
                                    <option selected="true" disabled="disabled">Select Type Of Car</option>
                                    {% for body_style in body_style_search  %}
                                        <option value="{{body_style}}">{{body_style}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                            <label>Price</label>
                                            <div data-min="0" data-max="{{max_price}}"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                   
                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Follow us</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>