{% load static %}
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
            
                <div class="slick-slider-area clearfix">
                    <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                        {% for t in team  %}
                            <div class="slick-slide-item">
                                <div class="team-1">
                                    <div class="photo">
                                        <a href="#">
                                            <img src="{{ t.photo.url }}" alt="team-1" class="img-fluid">
                                        </a>
                                        <div class="social-list clearfix">
                                            <a href="{{ t.facebook_link|add:'/'|add:t.first_name|add:'_'|add:t.last_name }}" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                            <a href="{{ t.twitter_link|add:'/@'|add:t.first_name|add:'_'|add:t.last_name }}" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                            <a href="{{ t.google_plus_link|add:'/'|add:t.first_name|add:'_'|add:t.last_name }}" class="google-bg"><i class="fa fa-google"></i></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <h4><a href="#"> {{t.first_name}} {{t.last_name}} </a></h4>
                                        <h5> {{t.designation}} </h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

       
    </div>
</div>