{% extends "pages/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}


<!-- Sub banner start -->
{% include "pages/includes/_sub_banner.html" with page_main_title=main_title page_sub_title=sub_title %}
<!-- Sub Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET" action="{% url 'search' %}">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-model">
                                    <option disabled="disabled" selected="selected">Select Make</option>
                                    {% for model in model_search  %}
                                    <option value="{{model}}">{{model}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-location">
                                    <option disabled="disabled" selected="selected">Select Location</option>
                                    {% for city in city_search  %}
                                        <option value="{{city}}">{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-year">
                                    <option disabled="disabled" selected="selected">Select Year</option>
                                    {% for year in year_search  %}
                                        <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-type">
                                    <option disabled="disabled" selected="selected">Select Type Of Car</option>
                                    {% for body_style in body_style_search  %}
                                        <option value="{{body_style}}">{{body_style}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="transmission">
                                    <option disabled="disabled" selected="selected">Transmission</option>
                                    {% for trans in transmission  %}
                                        <option value="{{trans}}">{{trans}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->


<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Cars</span></h1>
            <p> Your search query returned {{cars|length}} cars. </p>
        </div>
        <div class="row">
                

        <!-- Rent car start -->
        {% include "car/includes/_rent_a_car.html" with latest_cars=cars%}
        <!-- Rent car end -->


        </div>
    </div>
</div>
<!-- Featured car end -->



<!-- Intro section start -->
{% include "pages/includes/_intro_section.html" %}
<!-- Intro section end -->
{% endblock content %}